spring:
  application:
    name: cp-court-list-publishing-service

  # Disable SpringDoc auto-configuration
  autoconfigure:
    exclude: org.springdoc.core.configuration.SpringDocKotlinConfiguration
  config:
    import:
      - "optional:configtree:/mnt/secrets/rpe/"
      - "optional:classpath:application-datasource.yml"
      - "optional:classpath:application-server-management.yml"
      - "optional:classpath:application-azure.yml"
      - "optional:classpath:application-jwt.yml"
      - "optional:classpath:application-authz.yml"
      - "optional:classpath:application-audit.yml"
  threads:
    virtual:
      enabled: ${VIRTUAL_THREADS:false}

# Temporarily commented out due to SpringDoc compatibility issues with Spring Boot 4.0.0-M3
# springdoc:
#   packagesToScan: uk.gov.hmcts.cp.controllers
#   writer-with-order-by-keys: true