services:
  azurite:
    image: mcr.microsoft.com/azure-storage/azurite:3.33.0
    container_name: CP_CLP_azurite
    command: azurite-blob --blobHost 0.0.0.0
    ports:
      - "10000:10000"

  db:
    image: postgres:16-alpine
    container_name: CP_CLP_CP_CDK_DB_it
    environment:
      POSTGRES_DB: courtlistpublishing
      POSTGRES_USER: courtlistpublishing
      POSTGRES_PASSWORD: courtlistpublishing
    ports:
      - "55432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U courtlistpublishing -d courtlistpublishing"]
      interval: 5s
      timeout: 3s
      retries: 30

  wiremock:
    image: wiremock/wiremock:3.9.1
    container_name: CP_CLP_wiremock
    ports:
      - "8089:8080"
    volumes:
      - ../src/integrationTest/resources/wiremock/mappings:/home/wiremock/mappings
      - ../src/integrationTest/resources/wiremock/__files:/home/wiremock/__files
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8080/__admin/health || exit 1" ]
      interval: 5s
      timeout: 3s
      retries: 10
    restart: unless-stopped

  app:
    container_name: CP_CLP_app_it
    build:
      context: ..                # project root (so Docker has access to source)
      dockerfile: docker/Dockerfile
    ports:
      - "${SERVER_PORT:-8082}:${SERVER_PORT:-8082}"
      - "8787:5005"
    environment:
      CP_CLP_DATASOURCE_URL: jdbc:postgresql://db:5432/courtlistpublishing
      CP_CLP_DATASOURCE_USERNAME: courtlistpublishing
      CP_CLP_DATASOURCE_PASSWORD: courtlistpublishing
      SERVER_PORT: ${SERVER_PORT:-8082}
      CP_CLP_DATASOURCE_DRIVER_CLASS_NAME: org.postgresql.Driver
      JAVA_TOOL_OPTIONS: -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005
      SPRING_PROFILES_ACTIVE: integration
      AZURE_STORAGE_ENABLED: "true"
      AZURE_STORAGE_CONTAINER_NAME: courtpublisher-blob-container
      AZURE_STORAGE_ACCOUNT_NAME: "devstoreaccount1"
      AZURE_STORAGE_ACCOUNT_KEY: "Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw=="
      AZURE_STORAGE_BLOB_ENDPOINT: "http://azurite:10000/devstoreaccount1"
      AZURE_CLIENT_ID: "integration-test-client"
      AZURE_TENANT_ID: "integration-test-tenant"
      MANAGEMENT_HEALTH_JMS_ENABLED: "false"
      MANAGEMENT_ENDPOINT_HEALTH_PROBES_ENABLED: "false"
      CP_CLP_AUTHZ_ENABLED: "false"
      CP_CLP_HTTP_AUDIT_ENABLED: "false"
      CP_CLP_AUDIT_ENABLED: "false"
      # WireMock service running in Docker container
      COMMON_PLATFORM_QUERY_API_BASE_URL: "http://wiremock:8080"
      CATH_BASE_URL: "http://wiremock:8080"
    depends_on:
      db:
        condition: service_healthy
      wiremock:
        condition: service_started
      azurite:
        condition: service_started
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:${SERVER_PORT:-8082}/courtlistpublishing-service/actuator/health || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 12